*{
    margin: 0;
    padding: 0;
}
#add{
    margin-left: 26rem;
    margin-bottom: 1rem;
    border: black 0.2rem solid;
    color: black;
}
.row{
    margin: 50px;
    margin-left: 240px;
    width: 70%;
    align-items: center;
    justify-items: center;
}
form{
    background-color: rgb(5, 5, 68);
    border: red 3px solid;
    color: white;
    border-radius: 20px;
}
.nav-link{
    color: red;
}
input textarea{
    border-radius: 20px;
}
#link{
    display: flex;
    padding: 20px;
}
#video1{
    margin-left: 155px;
    margin-bottom: 25px;
    width: 25%;
}
#video2{
    margin-left: 290px;
    margin-bottom: 25px;
    width: 25%;
}
#top{
    font-size: 1.8rem;
    text-align: center;
    margin-top: 40px;
}
/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
    
  }